workflows/1-statements-ingest-extract.json
{
  "id": "4TRRWwLXEH8jpvcb",
  "name": "Statements: Ingest & Extract",
  "active": true,
  "description": "Workflow A: Gmail trigger classifies incoming mail, extracts statement PDFs via OpenRouter vision, normalizes and upserts into Google Sheets",
  "nodes": [
    {
      "id": "3c53eb5b-52bf-4752-a22c-6f04886d7841",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [0, 288],
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyX", "value": 5, "unit": "minutes" }] },
        "simple": false,
        "filters": {
          "q": "-label:Statements -label:Orders -label:Debit -label:Inquiry",
          "readStatus": "both"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      }
    },
    {
      "id": "44dc92bc-ad97-4891-a495-e028f14d5339",
      "name": "Classify Email",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [224, 288],
      "parameters": {
        "inputText": "=Subject: {{ $json.subject }}\nFrom: {{ $json.from }}\nAttachments: {{ Object.keys($binary || {}).filter(function(k){ return k.indexOf(\"attachment_\") === 0; }).map(function(k){ return $binary[k].fileName; }).join(\", \") }}\nBody (excerpt): {{ ($json.text || \"\").substring(0, 500) }}",
        "categories": {
          "categories": [
            { "category": "Statement", "description": "A supplier/creditor account statement showing aged balances owed (current, 30, 60, 90, 120+ days), an amount due notice, or a statement of account with an attached PDF ledger." },
            { "category": "Order", "description": "A purchase order, order confirmation, quote, or invoice for newly purchased goods, not a creditor statement of an existing balance." },
            { "category": "Debit", "description": "A debit note, debit advice, or bank debit notification." },
            { "category": "Inquiry", "description": "A question, follow-up, or general correspondence with no document to extract." }
          ]
        },
        "options": { "fallback": "other", "enableAutoFixing": true }
      }
    },
    {
      "id": "07dac603-7187-4ebb-8a6b-c0df3a53d501",
      "name": "Classifier Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [224, 576],
      "parameters": { "model": "anthropic/claude-haiku-4.5", "options": { "temperature": 0.1 } }
    },
    {
      "id": "9c6c5601-287d-44bb-bcee-69e25e7c22d1",
      "name": "Label: Statement",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [576, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "7723399a-f826-4431-b69a-04ed3b80c154",
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $(\"Gmail Trigger\").item.json.id }}",
        "labelIds": ["Label_1"]
      }
    },
    {
      "id": "b553aea0-b1b3-46a9-b883-20e556c3589e",
      "name": "Label: Order",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [576, 192],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "e1f02cba-f0bb-487c-ad5c-430e75553e5b",
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $(\"Gmail Trigger\").item.json.id }}",
        "labelIds": ["Label_2"]
      }
    },
    {
      "id": "24753de7-3760-4bf1-ae9f-6313f9805cc4",
      "name": "Label: Debit",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [576, 384],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "ffabf304-d3bc-41a6-b7a6-379cf3906886",
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $(\"Gmail Trigger\").item.json.id }}",
        "labelIds": ["Label_3"]
      }
    },
    {
      "id": "3b3a84eb-9389-40e3-b6b2-ea8ab62b96ce",
      "name": "Label: Inquiry",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [592, 592],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "f1351974-1221-4ec6-bd1f-9bcd019833ba",
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $(\"Gmail Trigger\").item.json.id }}",
        "labelIds": ["Label_4"]
      }
    },
    {
      "id": "bda8a8ad-0c5c-4df1-b80f-a24482bdf2a1",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const triggerItem = $('Gmail Trigger').itemMatching(i);\n  const binary = (triggerItem && triggerItem.binary) || {};\n  const keys = Object.keys(binary).filter(function (k) { return k.indexOf('attachment_') === 0; });\n  for (let j = 0; j < keys.length; j++) {\n    const key = keys[j];\n    out.push({\n      json: {\n        gmail_message_id: triggerItem.json.id,\n        gmail_link: 'https://mail.google.com/mail/u/0/#inbox/' + triggerItem.json.id,\n        email_date: triggerItem.json.date,\n        subject: triggerItem.json.subject\n      },\n      binary: { data: binary[key] }\n    });\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "9f47110e-a260-4aaa-9781-4f46ee29b345",
      "name": "Is Archive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [800, 160],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ ($binary.data.fileName || '').toLowerCase().endsWith('.zip') || ($binary.data.mimeType || '').toLowerCase().indexOf('zip') !== -1 }}",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      }
    },
    {
      "id": "f7834b7a-133c-4343-b48a-30fa4a838680",
      "name": "Decompress Archive",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [1024, 240],
      "parameters": { "operation": "decompress", "binaryPropertyName": "data", "outputPrefix": "file_" }
    },
    {
      "id": "b862e482-2334-478a-8d25-97423718b373",
      "name": "Unpack Archive Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1248, 240],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst out = [];\nconst VALID_EXT = ['pdf', 'jpg', 'jpeg', 'png'];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const context = $('Split Attachments').itemMatching(i).json;\n  const binary = item.binary || {};\n  const keys = Object.keys(binary).filter(function (k) { return k.indexOf('file_') === 0; });\n\n  let found = 0;\n  for (let j = 0; j < keys.length; j++) {\n    const key = keys[j];\n    const b = binary[key];\n    const fileName = (b.fileName || key || '').toLowerCase();\n    const ext = (b.fileExtension || fileName.split('.').pop() || '').toLowerCase();\n    if (VALID_EXT.indexOf(ext) === -1) continue;\n    found++;\n    out.push({\n      json: {\n        gmail_message_id: context.gmail_message_id,\n        gmail_link: context.gmail_link,\n        email_date: context.email_date,\n        subject: context.subject,\n        ready_for_extraction: true\n      },\n      binary: { data: b }\n    });\n  }\n\n  if (found === 0) {\n    out.push({\n      json: {\n        ready_for_extraction: false,\n        email_date: context.email_date || '',\n        branch: 'Unknown',\n        supplier: '',\n        account_no: '',\n        statement_date: '',\n        current: 0, d30: 0, d60: 0, d90: 0, d120plus: 0, total: 0,\n        currency: '',\n        status: 'Needs Manual',\n        confidence: 0,\n        notes: 'zip archive contained no extractable PDF/JPG/PNG files',\n        gmail_link: context.gmail_link || ''\n      }\n    });\n  }\n}\n\nreturn out;"
      }
    },
    {
      "id": "2e3c12f1-cb05-4ea8-89e5-f150a10381db",
      "name": "Ready for Extraction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1472, 240],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ready_for_extraction === true }}",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      }
    },
    {
      "id": "a3164f0e-f1c5-47be-aede-63247be530c1",
      "name": "Prepare Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1024, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n$input.item.json.pdfBase64 = buffer.toString('base64');\n$input.item.json.mimeType = ($input.item.binary && $input.item.binary.data && $input.item.binary.data.mimeType) || 'application/pdf';\nreturn $input.item;"
      }
    },
    {
      "id": "3b20a79d-168d-4580-9198-7078bddeb1ee",
      "name": "Vision Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1248, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer <<YOUR_OPENROUTER_API_KEY>>" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const mimeType = $json.mimeType || 'application/pdf';\n  const isImage = mimeType.indexOf('image/') === 0;\n  const fileBlock = isImage\n    ? { type: 'image_url', image_url: { url: 'data:' + mimeType + ';base64,' + $json.pdfBase64 } }\n    : { type: 'file', file: { filename: 'statement.pdf', file_data: 'data:application/pdf;base64,' + $json.pdfBase64 } };\n  const promptText = `You are extracting a supplier account statement (often a scanned image). Read the document carefully, including handwritten or low-quality text. Return ONLY a JSON object with this exact shape:\\n\\n{\\n  \"branch\": \"<which of the buyer's businesses this statement is addressed TO, i.e. the 'bill-to' / account-holder name. Match to one of: Dunnottar Hardware, Selcourt Hardware, Eastvale Hardware. If unclear, return the raw name you see>\",\\n  \"supplier\": \"<the creditor / company that ISSUED the statement>\",\\n  \"account_no\": \"<account/reference number, or null>\",\\n  \"statement_date\": \"<YYYY-MM-DD, or null>\",\\n  \"current\": <number>,\\n  \"d30\": <number>,\\n  \"d60\": <number>,\\n  \"d90\": <number>,\\n  \"d120plus\": <number>,\\n  \"total\": <number>,\\n  \"currency\": \"<e.g. ZAR>\",\\n  \"confidence\": <0.0-1.0, your honest certainty the numbers are correct>,\\n  \"notes\": \"<anything ambiguous, e.g. 'totals do not reconcile'>\"\\n}\\n\\nRules:\\n- Numbers only (no currency symbols, no thousands separators).\\n- If a bucket is absent, use 0.\\n- Never invent values you cannot read - lower the confidence instead.\\n- Return ONLY the JSON object. No prose, no markdown code fences.`;\n  return {\n    model: 'google/gemini-2.5-flash',\n    response_format: { type: 'json_object' },\n    messages: [{ role: 'user', content: [ { type: 'text', text: promptText }, fileBlock ] }]\n  };\n})() }}",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "2dc23fcc-6dc2-48da-9176-59ee03447048",
      "name": "Normalize + Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1552, -112],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const upstream = $('Prepare Base64').itemMatching($itemIndex).json;\nconst KNOWN_BRANCHES = ['Dunnottar Hardware', 'Selcourt Hardware', 'Eastvale Hardware'];\nconst CONFIDENCE_FLOOR = 0.75;\n\nlet raw = '';\ntry {\n  raw = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) || '';\n} catch (e) { raw = ''; }\nraw = raw.trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/, '').replace(/```\\s*$/, '');\n\nlet parsed = null;\ntry { parsed = JSON.parse(raw); } catch (e) { parsed = null; }\n\nfunction normNum(v) { const n = parseFloat(v); return isNaN(n) ? 0 : n; }\n\nif (!parsed) {\n  return { json: { email_date: upstream.email_date || '', branch: 'Unknown', supplier: '', account_no: '', statement_date: '', current: 0, d30: 0, d60: 0, d90: 0, d120plus: 0, total: 0, currency: '', status: 'Needs Manual', confidence: 0, notes: 'extraction response was not valid JSON', gmail_link: upstream.gmail_link || '' } };\n}\n\nlet branch = (parsed.branch || '').trim();\nlet matchedBranch = null;\nfor (let i = 0; i < KNOWN_BRANCHES.length; i++) {\n  if (KNOWN_BRANCHES[i].toLowerCase() === branch.toLowerCase()) { matchedBranch = KNOWN_BRANCHES[i]; break; }\n}\nif (!matchedBranch) {\n  for (let i = 0; i < KNOWN_BRANCHES.length; i++) {\n    if (branch && (KNOWN_BRANCHES[i].toLowerCase().indexOf(branch.toLowerCase()) !== -1 || branch.toLowerCase().indexOf(KNOWN_BRANCHES[i].toLowerCase()) !== -1)) { matchedBranch = KNOWN_BRANCHES[i]; break; }\n  }\n}\nconst finalBranch = matchedBranch || 'Unknown';\n\nconst current = normNum(parsed.current);\nconst d30 = normNum(parsed.d30);\nconst d60 = normNum(parsed.d60);\nconst d90 = normNum(parsed.d90);\nconst d120plus = normNum(parsed.d120plus);\nconst total = normNum(parsed.total);\nconst sum = current + d30 + d60 + d90 + d120plus;\n\nlet confidence = normNum(parsed.confidence);\nlet notes = parsed.notes || '';\n\nif (Math.abs(sum - total) > 1) { notes = (notes ? notes + '; ' : '') + 'sum mismatch'; confidence = Math.max(0, confidence - 0.2); }\n\nconst status = (confidence >= CONFIDENCE_FLOOR && finalBranch !== 'Unknown') ? 'OK' : 'Needs Manual';\n\nreturn { json: { email_date: upstream.email_date || '', branch: finalBranch, supplier: parsed.supplier || '', account_no: parsed.account_no || '', statement_date: parsed.statement_date || '', current, d30, d60, d90, d120plus, total, currency: parsed.currency || '', status, confidence, notes, gmail_link: upstream.gmail_link || '' } };"
      }
    },
    {
      "id": "ac10c105-eec7-4c47-b2b3-9f5ba3c1154e",
      "name": "Needs Escalation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1776, -280],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "leftValue": "={{ $json.status === 'Needs Manual' }}", "operator": { "type": "boolean", "operation": "true" } }
          ]
        }
      }
    },
    {
      "id": "907f0942-edb7-4e63-a8cb-2c745a0baeec",
      "name": "Vision Extract Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2000, -360],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer <<YOUR_OPENROUTER_API_KEY>>" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const ctx = $('Prepare Base64').itemMatching($itemIndex).json;\n  const mimeType = ctx.mimeType || 'application/pdf';\n  const isImage = mimeType.indexOf('image/') === 0;\n  const fileBlock = isImage\n    ? { type: 'image_url', image_url: { url: 'data:' + mimeType + ';base64,' + ctx.pdfBase64 } }\n    : { type: 'file', file: { filename: 'statement.pdf', file_data: 'data:application/pdf;base64,' + ctx.pdfBase64 } };\n  const promptText = `You are extracting a supplier account statement (often a scanned image). Read the document carefully, including handwritten or low-quality text. Return ONLY a JSON object with this exact shape:\\n\\n{\\n  \"branch\": \"<which of the buyer's businesses this statement is addressed TO>\",\\n  \"supplier\": \"<the creditor / company that ISSUED the statement>\",\\n  \"account_no\": \"<account/reference number, or null>\",\\n  \"statement_date\": \"<YYYY-MM-DD, or null>\",\\n  \"current\": <number>,\\n  \"d30\": <number>,\\n  \"d60\": <number>,\\n  \"d90\": <number>,\\n  \"d120plus\": <number>,\\n  \"total\": <number>,\\n  \"currency\": \"<e.g. ZAR>\",\\n  \"confidence\": <0.0-1.0>,\\n  \"notes\": \"<anything ambiguous>\"\\n}\\n\\nRules:\\n- Numbers only. If a bucket is absent, use 0. Never invent values. Return ONLY the JSON.`;\n  return {\n    model: 'google/gemini-2.5-pro',\n    response_format: { type: 'json_object' },\n    messages: [{ role: 'user', content: [ { type: 'text', text: promptText }, fileBlock ] }]\n  };\n})() }}",
        "options": { "timeout": 90000 }
      }
    },
    {
      "id": "7d5cc557-974e-4277-ac28-3ba4fc73aa7d",
      "name": "Parse Extraction (Final)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2224, -360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const upstream = $('Prepare Base64').itemMatching($itemIndex).json;\nconst KNOWN_BRANCHES = ['Dunnottar Hardware', 'Selcourt Hardware', 'Eastvale Hardware'];\nconst CONFIDENCE_FLOOR = 0.75;\n\nlet raw = '';\ntry { raw = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) || ''; } catch (e) { raw = ''; }\nraw = raw.trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/, '').replace(/```\\s*$/, '');\n\nlet parsed = null;\ntry { parsed = JSON.parse(raw); } catch (e) { parsed = null; }\n\nfunction normNum(v) { const n = parseFloat(v); return isNaN(n) ? 0 : n; }\n\nif (!parsed) {\n  return { json: { email_date: upstream.email_date || '', branch: 'Unknown', supplier: '', account_no: '', statement_date: '', current: 0, d30: 0, d60: 0, d90: 0, d120plus: 0, total: 0, currency: '', status: 'Needs Manual', confidence: 0, notes: 'extraction response was not valid JSON (after escalation retry)', gmail_link: upstream.gmail_link || '' } };\n}\n\nlet branch = (parsed.branch || '').trim();\nlet matchedBranch = null;\nfor (let i = 0; i < KNOWN_BRANCHES.length; i++) {\n  if (KNOWN_BRANCHES[i].toLowerCase() === branch.toLowerCase()) { matchedBranch = KNOWN_BRANCHES[i]; break; }\n}\nif (!matchedBranch) {\n  for (let i = 0; i < KNOWN_BRANCHES.length; i++) {\n    if (branch && (KNOWN_BRANCHES[i].toLowerCase().indexOf(branch.toLowerCase()) !== -1 || branch.toLowerCase().indexOf(KNOWN_BRANCHES[i].toLowerCase()) !== -1)) { matchedBranch = KNOWN_BRANCHES[i]; break; }\n  }\n}\nconst finalBranch = matchedBranch || 'Unknown';\n\nconst current = normNum(parsed.current);\nconst d30 = normNum(parsed.d30);\nconst d60 = normNum(parsed.d60);\nconst d90 = normNum(parsed.d90);\nconst d120plus = normNum(parsed.d120plus);\nconst total = normNum(parsed.total);\nconst sum = current + d30 + d60 + d90 + d120plus;\n\nlet confidence = normNum(parsed.confidence);\nlet notes = parsed.notes || '';\n\nif (Math.abs(sum - total) > 1) { notes = (notes ? notes + '; ' : '') + 'sum mismatch'; confidence = Math.max(0, confidence - 0.2); }\n\nconst status = (confidence >= CONFIDENCE_FLOOR && finalBranch !== 'Unknown') ? 'OK' : 'Needs Manual';\n\nreturn { json: { email_date: upstream.email_date || '', branch: finalBranch, supplier: parsed.supplier || '', account_no: parsed.account_no || '', statement_date: parsed.statement_date || '', current, d30, d60, d90, d120plus, total, currency: parsed.currency || '', status, confidence, notes, gmail_link: upstream.gmail_link || '' } };"
      }
    },
    {
      "id": "85fdac83-9ed7-4345-ab39-9b1fd8af1065",
      "name": "Mark Needs Manual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1552, 112],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "email_date", "value": "={{ $(\"Prepare Base64\").itemMatching($itemIndex).json.email_date }}", "type": "string" },
            { "id": "a2", "name": "branch", "value": "Unknown", "type": "string" },
            { "id": "a3", "name": "supplier", "value": "", "type": "string" },
            { "id": "a4", "name": "account_no", "value": "", "type": "string" },
            { "id": "a5", "name": "statement_date", "value": "", "type": "string" },
            { "id": "a6", "name": "current", "value": 0, "type": "number" },
            { "id": "a7", "name": "d30", "value": 0, "type": "number" },
            { "id": "a8", "name": "d60", "value": 0, "type": "number" },
            { "id": "a9", "name": "d90", "value": 0, "type": "number" },
            { "id": "a10", "name": "d120plus", "value": 0, "type": "number" },
            { "id": "a11", "name": "total", "value": 0, "type": "number" },
            { "id": "a12", "name": "currency", "value": "", "type": "string" },
            { "id": "a13", "name": "status", "value": "Needs Manual", "type": "string" },
            { "id": "a14", "name": "confidence", "value": 0, "type": "number" },
            { "id": "a15", "name": "notes", "value": "={{ \"extraction failed: \" + ($json.error?.message ?? $json.error ?? \"unknown error\") }}", "type": "string" },
            { "id": "a16", "name": "gmail_link", "value": "={{ $(\"Prepare Base64\").itemMatching($itemIndex).json.gmail_link }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "0008ebed-56c7-4599-8ba2-ab66181768f9",
      "name": "Statements: Upsert Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1776, -32],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "<YOUR_SHEET_ID>" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Statements" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["branch", "supplier", "statement_date"],
          "schema": [
            { "id": "email_date", "displayName": "email_date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "branch", "displayName": "branch", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "supplier", "displayName": "supplier", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "account_no", "displayName": "account_no", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "statement_date", "displayName": "statement_date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "current", "displayName": "current", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "d30", "displayName": "d30", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "d60", "displayName": "d60", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "d90", "displayName": "d90", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "d120plus", "displayName": "d120plus", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "total", "displayName": "total", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "currency", "displayName": "currency", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "confidence", "displayName": "confidence", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "notes", "displayName": "notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "gmail_link", "displayName": "gmail_link", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [[{ "node": "Classify Email", "type": "main", "index": 0 }]] },
    "Classify Email": {
      "main": [
        [{ "node": "Label: Statement", "type": "main", "index": 0 }],
        [{ "node": "Label: Order", "type": "main", "index": 0 }],
        [{ "node": "Label: Debit", "type": "main", "index": 0 }],
        [{ "node": "Label: Inquiry", "type": "main", "index": 0 }]
      ]
    },
    "Classifier Model": { "ai_languageModel": [[{ "node": "Classify Email", "type": "ai_languageModel", "index": 0 }]] },
    "Label: Statement": { "main": [[{ "node": "Split Attachments", "type": "main", "index": 0 }]] },
    "Split Attachments": { "main": [[{ "node": "Is Archive?", "type": "main", "index": 0 }]] },
    "Is Archive?": {
      "main": [
        [{ "node": "Decompress Archive", "type": "main", "index": 0 }],
        [{ "node": "Prepare Base64", "type": "main", "index": 0 }]
      ]
    },
    "Decompress Archive": { "main": [[{ "node": "Unpack Archive Files", "type": "main", "index": 0 }]] },
    "Unpack Archive Files": { "main": [[{ "node": "Ready for Extraction?", "type": "main", "index": 0 }]] },
    "Ready for Extraction?": {
      "main": [
        [{ "node": "Prepare Base64", "type": "main", "index": 0 }],
        [{ "node": "Statements: Upsert Row", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Base64": { "main": [[{ "node": "Vision Extract", "type": "main", "index": 0 }]] },
    "Vision Extract": {
      "main": [
        [{ "node": "Normalize + Validate", "type": "main", "index": 0 }],
        [{ "node": "Mark Needs Manual", "type": "main", "index": 0 }]
      ]
    },
    "Normalize + Validate": { "main": [[{ "node": "Needs Escalation?", "type": "main", "index": 0 }]] },
    "Needs Escalation?": {
      "main": [
        [{ "node": "Vision Extract Retry", "type": "main", "index": 0 }],
        [{ "node": "Statements: Upsert Row", "type": "main", "index": 0 }]
      ]
    },
    "Vision Extract Retry": {
      "main": [
        [{ "node": "Parse Extraction (Final)", "type": "main", "index": 0 }],
        [{ "node": "Mark Needs Manual", "type": "main", "index": 0 }]
      ]
    },
    "Parse Extraction (Final)": { "main": [[{ "node": "Statements: Upsert Row", "type": "main", "index": 0 }]] },
    "Mark Needs Manual": { "main": [[{ "node": "Statements: Upsert Row", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate" }
}
