workflows/2-statements-nightly-digest.json
{
  "id": "l9ILsURRIU23DmPf",
  "name": "Statements: Nightly Telegram Digest",
  "active": true,
  "description": "Workflow B: nightly schedule reads the Statements sheet, aggregates per-branch outstanding totals and top creditors, sends a Telegram digest",
  "nodes": [
    {
      "id": "a604c0c5-e730-42de-b68f-94b1dc9cd7c3",
      "name": "Daily 21:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "parameters": {
        "rule": { "interval": [{ "field": "days", "triggerAtHour": 21, "triggerAtMinute": 0 }] }
      }
    },
    {
      "id": "8130797b-320f-48ac-95bd-030445f94d79",
      "name": "Read Statements",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [224, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "<YOUR_SHEET_ID>" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Statements" }
      }
    },
    {
      "id": "508e7dae-c8e0-4eb6-9d6d-aa2d8c3d5ad1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst branches = {};\nlet grandTotal = 0;\nlet needsManualCount = 0;\n\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json;\n  if (row.status === 'Needs Manual') {\n    needsManualCount++;\n    continue;\n  }\n  if (row.status !== 'OK') continue;\n  const branchName = row.branch || 'Unknown';\n  const total = parseFloat(row.total) || 0;\n  if (!branches[branchName]) branches[branchName] = { total: 0, creditors: [] };\n  branches[branchName].total += total;\n  branches[branchName].creditors.push({ supplier: row.supplier || 'Unknown', total: total });\n  grandTotal += total;\n}\n\nconst branchNames = Object.keys(branches);\nconst lines = [];\nlines.push('\\ud83e\\uddfe *Outstanding \\u2014 ' + DateTime.now().toFormat('yyyy-MM-dd') + '*');\nlines.push('');\nfor (let i = 0; i < branchNames.length; i++) {\n  const name = branchNames[i];\n  const b = branches[name];\n  b.creditors.sort(function (a, c) { return c.total - a.total; });\n  const top5 = b.creditors.slice(0, 5);\n  lines.push('*' + name + '* \\u2014 R ' + b.total.toLocaleString('en-ZA'));\n  for (let j = 0; j < top5.length; j++) {\n    lines.push(' \\u2022 ' + top5[j].supplier + ' \\u2014 R ' + top5[j].total.toLocaleString('en-ZA'));\n  }\n  lines.push('');\n}\nlines.push('*Total owed:* R ' + grandTotal.toLocaleString('en-ZA'));\nlines.push('\\u26a0\\ufe0f ' + needsManualCount + ' statements need manual entry');\n\nreturn [{ json: { message: lines.join('\\n') } }];"
      }
    },
    {
      "id": "ebfe9d7f-4b41-4e76-9935-8ed3e2871cfd",
      "name": "Send Telegram Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [672, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "a2cefa0b-52bb-461f-af37-5360d960dd2b",
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "<YOUR_TELEGRAM_CHAT_ID>",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown", "appendAttribution": false }
      }
    }
  ],
  "connections": {
    "Daily 21:00 Trigger": { "main": [[{ "node": "Read Statements", "type": "main", "index": 0 }]] },
    "Read Statements": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "Send Telegram Digest", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
